<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn AngularJs</title>
    <script src="angular-1.5.5/angular.js"></script>
</head>

<body ng-app="con2" ng-controller="newCtr2">
<ul>
    <li ng-repeat="x in people">
        {{ x.name }}
    </li>
</ul>
<table border="1">
    <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Age</th>
        <th>Skill</th>
    </tr>
    <tr ng-repeat="x in people">
        <td>{{ $index + 1 }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.age }}</td>
        <td>{{ x.skill }}</td>
    </tr>
</table>
<script src="app/controller.js"></script>

</body>
</html>